:root{
    /* Cores Globais da Interface (Menu Lateral) */
    --ui-bg-sidebar: #2a1a3d;
    --ui-border: #1a1027;
    --ui-text-title: #ffffff;
    --ui-text-link: #b09ec4;
    --ui-link-hover-bg: #3a2654;
    --ui-link-active-bg: #34d399;
    --ui-link-active-text: #2a1a3d;

    /* Cores e Estilos do FAQ (Tons mais claros que a Sidebar) */
    --faq-bg: #0d1b3e;
    --faq-card-bg: #16264f;
    --faq-card-hover-bg: #1e3266;
    --faq-border: #2a3e75;
    --faq-border-neon: #7500c8;
    --faq-border-neon-glow: #9d26ef;
    --faq-text-title: #ffffff;
    --faq-text-question: #e2e8f0;
    --faq-text-answer: #94a3b8;

    /* Paleta do Sistema RGB */
    --color-rgb-1: rgb(255, 0, 0);
    --color-rgb-2: rgb(0, 255, 0);
    --color-rgb-3: rgb(0, 0, 255);
    --color-rgb-4: rgb(255, 255, 0);
    --color-rgb-5: rgb(0, 255, 255);
    --color-rgb-6: rgb(255, 0, 255);

    /* Paleta do Sistema CMYK (Simulado em RGB/Hex) */
    --color-cmyk-1: #e60000; 
    --color-cmyk-2: #006b00; 
    --color-cmyk-3: #0000ae; 
    --color-cmyk-4: #dfdf05; 
    --color-cmyk-5: #03e6e6; 
    --color-cmyk-6: #d900d9; 

    /* Paleta do Sistema Netflix */
    --color-net-1: #E50914;
    --color-net-2: #221F1F;
    --color-net-3: #F5F5F1;

    /* Paleta do Sistema Google */
    --color-goo-1: #4285F4;
    --color-goo-2: #FBBC05;
    --color-goo-3: #34A853;
    --color-goo-4: #EA4335;

    --color-ins-1: #405de6;
    --color-ins-2: #5851db;
    --color-ins-3: #833ab4;
    --color-ins-4: #c13584;
    --color-ins-5: #e1306c;
    --color-ins-6: #fd1d1d;
    --color-ins-7: #f56040;
    --color-ins-8: #f77737;
    --color-ins-9: #fcaf45;
    --color-ins-10: #ffdc80;

}