/* Importação dos arquivos de estilos */
@import url(./reset.css);
@import url(./design-system.css);

/* 3. CSS GLOBAL - LAYOUT, EFEITOS E ESTRUTURA BEM */

/* Bloco principal da seção: ocupa a tela inteira e organiza os filhos lado a lado */
.color-section{
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Elemento Sidebar: Barra lateral que contém o titulo e a navegaçâo */
.color-section__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    background-color: var(--ui-bg-sidebar);
    padding: 30px 20px;
    border-right: 1px solid var(--ui-border);
}

/* Elemento title: Titulo identificador do modelo de cor atual */
.color-section__title{
    color: var(--ui-text-title);
    font-size: 20px;
    /* Peso da fonte NÃO utiliza PX */
    font-weight: 700;
    margin: 35px;
    text-align: center;
    /* Espaço entre as letras */
    letter-spacing: 0.5px;
}

/* Elemento menu: Container flex vertical para alinhar os botões de navegação */
.color-section__menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Elemento link: Estilo base dos botões de navegação */
.color-section__link{
    color: var(--ui-text-link);
    text-decoration: none;
    font-size: 14px;
    /* Peso da fonte NÃO utiliza PX */
    font-weight: 600;
    padding: 30px;
    border-radius: 60px;
    text-align: center;
    transition: all 0.2 ease-in-out;
}

/* Modificador Link-Active: Destaque visual aplicado ao botão de seçao corrente */
.color-section__link--active{
    color: var(--ui-link-active-text);
    background-color: var(--ui-link-active-bg);
    /* Sombra V H bluer spread color */
    box-shadow: 0 1px 6px rgba(244, 244, 248, 0.25);
}

.color-section__link--active:hover{
    /* Alterar o formato do elemento */
    transform: scale(1.05);

}

/* Pseudoclasses not e hover: Comportamento ao passar o mouse em cima do item */
.color-section__link:not(.color-section__link--active):hover{
    color: var(--ui-text-title);
    background-color: var(--ui-link-hover-bg);
}

/* Elemento Bar: Representa as colunas de cores.*/
.color-section__bar{
    flex-grow: 1;
    height: 100%;
    /* Efeito de transição suave */
    transition: transform 0.25s ease;
}

/* Efeito interativo sutil nas barras para enriquecer a experiência */
.color-section__bar:hover{
    transform: scaleX(1.02);

    /* Posicionamento do elemento no eixo z (pilha) */
    z-index: 10;
    box-shadow: 0 0 30px rgba(51, 50, 50, 0.3);
}

/* RGB */

.color-section__bar--rgb-1{
background-color: var(--color-rgb-1);
width: 15%;
}

.color-section__bar--rgb-2{
background-color: var(--color-rgb-2);
width: 15%;
}

.color-section__bar--rgb-3{
background-color: var(--color-rgb-3);
width: 15%;
}

.color-section__bar--rgb-4{
background-color: var(--color-rgb-4);
width: 15%;
}

.color-section__bar--rgb-5{
background-color: var(--color-rgb-5);
width: 15%;
}

.color-section__bar--rgb-6{
background-color: var(--color-rgb-6);
width: 15%;
}

/* CMYK */

.color-section__bar--cmyk-1{
    background-color: var(--color-cmyk-1);
    width: 15%;
}

.color-section__bar--cmyk-2{
    background-color: var(--color-cmyk-2);
    width: 15%;
}

.color-section__bar--cmyk-3{
    background-color: var(--color-cmyk-3);
    width: 15%;
}

.color-section__bar--cmyk-4{
    background-color: var(--color-cmyk-4);
    width: 15%;
}

.color-section__bar--cmyk-5{
    background-color: var(--color-cmyk-5);
    width: 15%;
}

.color-section__bar--cmyk-6{
    background-color: var(--color-cmyk-6);
    width: 15%;
}